.tshirt-detail {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 25% 75%;
    grid-gap: 20px;
    padding: 40px;
    background: #ffffff;
}

.tshirt-detail__title {
    margin: 0;
}

.tshirt-detail__info p {
    font-size: 1.5em;
}

.tshirt-detail__color, .tshirt-detail__size {
    display: inline-block;
    margin-right: 20px;
    background: #333333;
    padding: 10px 20px;
    color: #ffffff;
    text-transform: uppercase;
    font-style: normal;
}

.tshirt-detail__order {
    display: inline-block;
    padding: 20px;
    margin-top: 40px;
    background: green;
    color: #ffffff;
    font-size: 1.5em;
    text-decoration: none;
}